extends base

block content
  main.main.main--align-middle#main-profile

    +title-1('User Profile')

    ul
      li= `firstname: ${user.firstName}`
      li= `lastname: ${user.lastName}`
      li= `displayname: ${user.displayName}`
      li= `email: ${user.email}`
      li
        img(src=`${user.image}`)
      //- li= `email: ${user.email}`

